body {
	background: url(../assets/img/factory.jpg);
  background-repeat: no-repeat;
  background-size: cover;
	text-align:center;
	width: 100%;
  height: auto;
	
}

h1 {
  color: #1e221e;
  text-shadow: 2px 2px 3px #8c996e, 3px 3px 5px #f1d246;
  font-size: 76px;
}

p {
  color: #1e221e;
  text-shadow: 2px 2px 3px #8c996e, 3px 3px 5px rgb(241, 210, 70);
  font-size: 30px;

}


body .ActionLink {
  color: #1e221e;
  text-shadow: 2px 2px 3px #8c996e, 3px 3px 5px #f1d246;
  font-size: 33px;

}

 .ggg {
	color:#d3b636;
  text-shadow: 2px 2px 2px #000000, 2px 4px 2px #000000;
  font-size: 30px;

}



body .homeLayout {
 
  padding: 130px;
  margin: 50px;
}
 .naming{
  color: #1e221e;
  text-shadow: 2px 2px 3px #8c996e, 3px 3px 5px rgb(241, 210, 70);
  font-size: 30px;
}